@model EShopMVCNet7.Areas.Admin.ViewModels.Product.ProductUpdinVM

@{
    ViewData["Title"] = "Update";
}
@section head{
    <link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet" />
    <style>
        .f_hide {
            min-height: 0px !important;
            border: none !important;
            height: 0 !important;
            padding: 0px !important;
        }
    </style>
}
@section scripts{
    <partial name="_Validation" />
    <script src="~/lib/summernote/summernote-lite.min.js"></script>

    <script>
        $(() => {
            $('form').each(function () {
                if ($(this).data('validator'))
                    $(this).data('validator').settings.ignore = ".note-editor *";
            });
            $('#Content').summernote({
                height: '200px',
            });
            $('#Content').show();
            $('#Content').addClass("f_hide");
        });
    </script>
}

<div class="row">
    <div class="col">
        <h1>Cập nhật sản phẩm</h1>
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <!--enctype="multipart/form-data" có mới load file đc-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-3">
                <label asp-for="CoverImg" class="control-label"></label>
                <div class="d-flex">
                    <input asp-for="CoverImg" class="form-control" accept="image/*" data-val="false" /><!--accept="image/*" thu gọn file. hiển thị hình ảnh-->
                    <img src="@Model.CoverImgPath" style="width: 100px; object-fit: cover; margin: 0 5px; border-radius:50px" />
                </div>
                <span asp-validation-for="CoverImg" class="text-danger"></span>
            </div>


            <div class="mt-3">
                <label asp-for="ProductImages" class="control-label"></label>
                <div class="d-flex">
                    <input asp-for="ProductImages" class="form-control" accept="image/*" data-val="false" />
                    @foreach (var img in Model.ProductImgPath)
                    {
                        <img class="rounded mx-1" src="@img" style="width: 100px; object-fit: cover;margin: 0 5px; border-radius:50px" />
                    }
                </div>
                <span asp-validation-for="ProductImages" class="text-danger"></span>
            </div>


            <div class="mt-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="Summary" class="control-label"></label>
                <textarea asp-for="Summary" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="InStock" class="control-label"></label>
                <input asp-for="InStock" class="form-control" />
                <span asp-validation-for="InStock" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="DiscountPrice" class="control-label"></label>
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="DiscountFrom" class="control-label"></label>
                <input asp-for="DiscountFrom" class="form-control" />
                <span asp-validation-for="DiscountFrom" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="DiscountTo" class="control-label"></label>
                <input asp-for="DiscountTo" class="form-control" />
                <span asp-validation-for="DiscountTo" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-items="ViewBag.Category" asp-for="CategoryId" class="form-select">
                    <option value="">-----Vui lòng chọn-----</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <input type="submit" value="Cập nhật" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index">Danh sách</a>
</div>

