<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EShopMVCNet7</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--bootrap-->
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    @RenderSection("head",false) <!--section style-->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger-subtle">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <a class="nav-link" asp-action="Index" asp-controller="Category">Danh mục</a>
                    <a class="nav-link" asp-action="Index" asp-controller="Product">Sản phẩm</a>
                    <a class="nav-link" asp-action="Index" asp-controller="User">Tài khoản</a>
                    <a asp-action="Index" asp-controller="Order" asp-area="Admin" class="nav-link">
                        Danh sách đặt hàng
                    </a>
                    <a class="nav-link" asp-action="Index" asp-controller="Event">Sự kiện</a>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-2">
        <partial name="_Notify" />
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts",false)
</body>
</html>