@model IEnumerable<AppCategory>


<nav class="navbar navbar-expand-lg navbar-light bg-danger-subtle shadow">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="bi bi-house-heart"></i> Home</a>
                </li>
                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-route-slug="@item.Slug" asp-route-cateId="@item.Id">@item.Name</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="btn btn-outline-success" asp-action="Index" asp-controller="Product" asp-area="Admin">Trang quản lý</a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-outline-warning" asp-action="Login" asp-controller="Account">Đăng nhập</a>
                </li>
            </ul>
            <form class="d-flex" role="search" asp-action="Search" asp-controller="Home" method="get">
                <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>