@model EShopMVCNet7.Areas.Admin.ViewModels.Event.EventsUpdinVM

@{
    ViewData["Title"] = "Create";
}
@section head{
    <link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet" />
    <style>
        .f_hide {
            min-height: 0px !important;
            border: none !important;
            height: 0 !important;
            padding: 0px !important;
        }
    </style>
}
@section scripts{
    <partial name="_Validation" />
    <script src="~/lib/summernote/summernote-lite.min.js"></script>

    <script>
        $(() => {
            $('form').each(function () {
                if ($(this).data('validator'))
                    $(this).data('validator').settings.ignore = ".note-editor *";
            });
            $('#Content').summernote({
                height: '200px',
            });
            $('#Content').show();
            $('#Content').addClass("f_hide");
        });
    </script>
}

<div class="row">
    <div class="col">
        <h1>Tạo sự kiện mới</h1>
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <!--enctype="multipart/form-data" có mới load file đc-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mt-3">
                <label asp-for="CoverImgEven" class="control-label"></label>
                <input asp-for="CoverImgEven" type="file" class="form-control" accept="image/*" /><!--accept="image/*" thu gọn file. hiển thị hình ảnh-->
                <span asp-validation-for="CoverImgEven" class="text-danger"></span>
            </div>   
            <div class="mt-3">
                <label asp-for="NameEven" class="control-label"></label>
                <input asp-for="NameEven" class="form-control" />
                <span asp-validation-for="NameEven" class="text-danger"></span>
            </div>   
            <div class="mt-3">
                <label asp-for="ContentEven" class="control-label"></label>
                <textarea asp-for="ContentEven" class="form-control" rows="10"></textarea>
                <span asp-validation-for="ContentEven" class="text-danger"></span>
            </div> 
            <div class="mt-3">
                <label asp-for="DiscountFrom" class="control-label"></label>
                <input asp-for="DiscountFrom" class="form-control" />
                <span asp-validation-for="DiscountFrom" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <label asp-for="DiscountTo" class="control-label"></label>
                <input asp-for="DiscountTo" class="form-control" />
                <span asp-validation-for="DiscountTo" class="text-danger"></span>
            </div>
            <div class="mt-3">
                <input type="submit" value="Thêm mới" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index">Danh sách</a>
</div>