@{
    ViewData["title"] = "Quản lý danh mục";
}
@section head{
    <link href="~/lib/awesome-notifications/style.min.css" rel="stylesheet" />
}
@section scripts{
    <script defer src="~/lib/alpinejs/cdn.min.js"></script>
    <script src="~/lib/awesome-notifications/index.var.min.js"></script>
    <script src="~/js/admin/category.js" asp-append-version="true"></script>  @*asp-append-version="true": tự cập nhật file*@
}

<div class="row" x-data="category">

    <div class="col-12 mt-3">
        <table class="table table-bordered table-hover text-center ">
            <colgroup>
                <col style="width: 10%" />
                <col style="width: 75%" />
                <col style="width: 15%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tên</th>
                    <th>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" x-on:click="openModalAdd()"><i class="bi bi-plus-circle-dotted"></i> Thêm danh mục</button>
                    </th>
                </tr>
            </thead>

            <tbody>
                <!--vòng lặp-->
                <template x-for="i in _list">
                    <tr>
                        <td x-text="i.id"></td> <!--id và name là của sql cần phải viết thường-->
                        <td x-text="i.name"></td>
                        <td>
                            <button class="btn btn-outline-success" x-on:click="openModalUpdate(i.id)"><i class="bi bi-pencil-square"></i> Sửa</button>
                            <button class="btn btn-outline-danger" x-on:click="deleteCategory(i.id)"><i class="bi bi-trash"></i> Xóa</button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <partial name="_Pager" model="Model" />
    </div>

    <!-- Modal -->
    <div class="modal fade" id="categoryUpdinModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel" x-text="_modalSetting.title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-1">
                        <label class="form-label">Tên danh mục</label>
                        <input class="form-control" x-model="_updinData.name"/>
                        <small x-text="_updinData.slug" class="fst-italic"></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" x-text="_modalSetting.primaryButtonText" x-on:click="saveCategory()">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>


