<div class="footer">
    <div class="container px-4" id="featured-3" style="padding-top: 3rem;">
        <h2 class="pb-2 border-bottom d-flex">
            LOGO
        </h2>
        <div class="row g-4 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <h2>DOANH NGHIỆP</h2>
                <div class="feature-icon bg-warning bg-gradient border border-white" style="border-radius:20px 0px 50px 20px">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#collection" />
                    </svg>
                </div>
            </div>
            <div class="feature col">
                <h2>HỔ TRỢ</h2>
                <div class="feature-icon bg-warning bg-gradient border border-white"
                     style="border-radius:50px 50px 0px 0px">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#people-circle" />
                    </svg>
                </div>
            </div>
            <div class="feature col">
                <h2>NGÀNH HÀNG</h2>
                <div class="feature-icon bg-warning bg-gradient border border-white"
                     style="border-radius:0px 20px 20px 50px">
                    <svg class="bi" width="1em" height="1em">
                        <use xlink:href="#toggles2" />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="p-3 mb-2 bg-secondary text-white d-flex justify-content-center">
        <div class=" mt-3">
            <p class="mb-0 p-0">
                <span>2023 COMY™</span> © Copyright 2023 - 2024 COMY
                Corporation. All
                Right
                Reserved
            </p>
        </div>
        <div class=" mt-3">
            <ul class="social d-flex">
                <li class="nav">
                    <a rel="nofollow" title="Facebook"
                       href="https://www.facebook.com/profile.php?id=100024003636060" target="_blank">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li class="nav">
                    <a rel="nofollow" title="Twitter" href="" target="_blank">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
                <li class="nav">
                    <a rel="nofollow noopener noreferrer" title="Youtube" href="" target="_blank">
                        <i class="bi bi-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

