<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EShopMVCNet7</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--bootrap-->
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    @RenderSection("head",false) <!--section style-->
</head>
<body>
    <vc:nav-bar></vc:nav-bar> <!--Gọi tới ViewComponent-->

    <div class="container">
        <partial name="_Notify" />
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/lib/alpinejs/cdn.min.js"></script><!--Defer để đame bảo đặt đâu cx đc-->
    @RenderSection("scripts",false)
</body>
</html>